[Unit]
Description=Run Shotdeck updater periodically

[Timer]
OnCalendar=Sat *-*-* 10:00:00
RandomizedDelaySec=2h
Persistent=true
Unit=shotdeck-updater.service

[Install]
WantedBy=timers.target
